//WEATHER STYLES

//list styles
.weather__details-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	grid-gap: 10px 15px;
	justify-items: center;

	list-style-type: none;

	@media (min-width: 500px) {
		justify-items: left;
	}
}

//details titles
.weather__details-title {

	//':' symbol
	&:after {
		margin-right: 5px;

		content: ':';
	}
}
