html(lang='en')
    head
        include includes/settings/head-include

body.app

    //________ APP FRAME ________
    .app__frame.container

        //-date and time block
        .row
            .col
                include includes/blocks/date-time

        //-location block
        .row
            .col.mt-4
                include includes/blocks/location

        //-weather block
        .row
            .col.mt-5
                include includes/blocks/weather

        //-btns block (reload weather button)
        .row
            .col.mt-3
                include includes/blocks/btns-block

    script(src="scripts/scripts.min.js")
