//________ DATE AND TIME ________
.col-12
    .date-time.text-center

        //date block
        .date.d-flex.justify-content-center
            .date__item.date__day 05
            .date__item.date__month 10
            .date__item.date__year 2019

        //time block
        .time.d-flex.justify-content-center.mt-4
            .time__item.time__hour 21
            .time__item.time__minutes 04