//________ DATE AND TIME ________
.col-12
    .date-time.text-center

        //date block
        .date.d-flex.justify-content-center
            .date__item.date__day
            .date__item.date__month
            .date__item.date__year

        //time block
        .time.d-flex.justify-content-center.mt-2.mt-sm-4
            .time__item.time__hour
            .time__item.time__minutes