.location.d-flex.justify-content-center.align-items-center
    //location icon
    .location__icon.icon.icon--sm
        svg
            use(xlink:href="./assets/sprites/sprites-solid/svg/sprite.symbol.svg#map-marker")

    //location preloader
    .location__preloader.preloader.js-hidden
        .preloader__icon.icon.icon--sm
            svg
                use(xlink:href="/assets/sprites/sprites-solid/svg/sprite.symbol.svg#loader")

    //location content
    .location__content.flex-shrink-0.ml-2 Saint-Petersburg