mixin weather-details-item(dataType, itemName, itemValue)
    //weather details item
    li.weather__details-item
        strong.weather__details-title= itemName
        span(data-detail-type= dataType).weather__details-value= itemValue

//________ WEATHER ________
.weather

    //weather preloader
    .weather__preloader.preloader

        .preloader__icon.icon.icon--md.m-auto.text-success
            svg
                use(xlink:href="./assets/sprites/sprites-solid/svg/sprite.symbol.svg#loader")

    //weather info
    .weather__info.text-center

            //weather icon
            .weather__icon.icon.icon--lg.m-auto

            //weather title
            .weather__title.text-center.mt-4

            //weather details
            .weather__details.mt-4
                ul.weather__details-list.p-0

                    //weather details item
                    li.weather__details-item
                        strong.weather__details-title Temp
                        span(data-detail-type="temp").weather__details-value
                        span.weather__details-measure
                        button.weather__temp-switcher.btn.btn-success.ml-2(type="button") F

                    +weather-details-item('wind', 'Wind', '')
                    +weather-details-item('pres', 'Pressure', '')
                    +weather-details-item('humid', 'Humidity', '')
                    +weather-details-item('sunr', 'Sunrise', '')
                    +weather-details-item('suns', 'Sunset', '')